# Ignore macOS system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
env/

# Ignore model files (if too large)
*.joblib

# Ignore plots if generated dynamically
plots/

*.joblib
.DS_Store
